.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
artifacts/
publish/
[Ll]og/
[Ll]ogs/

*.user
*.suo
*.userosscache
*.rsuser
*.sln.docstates
*.cache

*.nupkg
*.snupkg
project.lock.json
*.nuget.props
*.nuget.targets

*.exe
*.dll
*.pdb
!/iMusicActivity.exe
